### data types

##### 1. int ---> number

In [8]:
age = 23 # int
print(age)
print(type(age)) # type method for check the type of data

23
<class 'int'>

#### 2. float --> decimal

In [9]:
score = 45.7
print(score)
print(type(score))

45.7
<class 'float'>

##### python is a dynamically type programming lang

#### string --> text

In [14]:
first = "shaad"
print(first)
print(type(first))

shaad
<class 'str'>

In [15]:
sndway = 'khan'
print(sndway)
print(type(sndway))

khan
<class 'str'>

In [18]:
tway = """okhla vihar """
print(tway)
print(type(tway))

okhla vihar
<class 'str'>

In [19]:
fway = '''india'''
print(fway)
print(type(fway))

india
<class 'str'>

#### boolean --> True/False

In [21]:
t = True
print(t)
print(type(t))
f = False
print(f)
print(type(f))

True
<class 'bool'>
False
<class 'bool'>

#### None

In [22]:
no = None
print(no)
print(type(no))

None
<class 'NoneType'>

#### complex number (real + img number)

In [23]:
com = 3+5j
print(com)
print(type(com))

(3+5j)
<class 'complex'>

#### list ---> [ ]

In [25]:
my_list = [1,2,3,'hello',True]
print(my_list)
print(type(my_list))

[1, 2, 3, 'hello', True]
<class 'list'>

#### tuple ---> ( )

In [26]:
my_tuple =  (1,2,3,'hello',True)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 'hello', True)
<class 'tuple'>

#### set ---> { }

In [30]:
my_set = {1,2,3,4,'''hello'''}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 'hello'}
<class 'set'>

#### dictionary --> {'key':'value'}

In [32]:
my_dict= {'name':'shaad','age':23,'address':'okhla vihar'}
print(my_dict)
print(type(my_dict))

{'name': 'shaad', 'age': 23, 'address': 'okhla vihar'}
<class 'dict'>

#### type conversion
* implicit ---> python innerly
* explicit ---> we will do it manualy

In [35]:
num1 = 10
print(type(num1))
num2 = 34.8
print(type(num2))

result = num1 + num2
print(result)
print(type(result))

<class 'int'>
<class 'float'>
44.8
<class 'float'>

In [49]:
num4 = "shaad"
print(type(num4))
new_num = tuple(num4)
print(new_num)
print(type(new_num))

<class 'str'>
('s', 'h', 'a', 'a', 'd')
<class 'tuple'>

In [ ]:
b = True # 1 
f =False # 0
print(str(b))

True

In [42]:
bool("python")

True

#### input method ---> to take input from user

In [51]:
name = input('Enter Your Name')
print(name)

rizual

In [54]:
age = int(input('Enter Your Age: ')) # input will take str by default
print(age) 
print(type(age))

23
<class 'int'>

##### take input from user and add 2 numbers

In [57]:
num10 = int(input('Enter your First Number: '))
num11 = int(input('Enter your 2nd Number: '))
print(num10+num11)

24