### Arithmetic operators

In [ ]:
num1 = 12
num2 = 23
print(num1+num2) # add
print(num1-num2) # sub
print(num1*num2) # multi
print(num1/num2) # division ---> decimal (float)
print(num1//num2) # floor division ---> int
print(num1**num2) # expo

35
-11
276
0.5217391304347826
0
6624737266949237011120128

### Assignment operators

In [7]:
x = 90

In [8]:
x = x +10
print(x)

100

In [9]:
x += 10 # x = x + 10
print(x)

110

In [10]:
x -= 10
print(x)

100

### comparision (relational)

In [ ]:
num3 = 10
num4 = 10
num5 = 12
print(num3 == num5) # equal to
print(num3 != num5) # not equal to
print(num3 > num4) # greater then
print(num3 >= num4) # greater  then equal

print(num3 < num5) # less then
print(num3 <= num5) # less then equal to

False
True
False
True
True
True

#### membership

In [21]:
text = "this is 10am batch"
print("is" in text)
print("iss" not in text)

True
True

### logical --> and,or,not

In [24]:
tea = True
coffee = False
print(tea and coffee)
print(tea or coffee)

False
True

In [27]:
print(True or False)

True

In [29]:
print(not True)
print(not False)

False
True

#### identity ----> memory location

In [ ]:
num10 = 10
num11 = 10
num12 = 12
print(id(num10))
print(id(num11))
print(id(num12))
print(num10 is num11)
print(num10 is num12)

4333415128
4333415128
4333415192
True
False

In [ ]:
# alt +shift+downarrow