In [1]:
"5"+"5"

'55'

In [2]:
5+5

10

In [3]:
"Python" * 2

'PythonPython'

In [4]:
print("welcome in python")

welcome in python

In [5]:
name = "saad"
print(name)

saad

In [7]:
num = 12
num2 = 12
print(num*num2)

144

In [8]:
age = 35
print(type(age))
print(age)

<class 'int'>
35

In [13]:
num4 = "100"
print(type(num4))

new_num = float(num4)
print(type(new_num))
print(new_num)

<class 'str'>
<class 'float'>
100.0

In [16]:
name4 = float(input('Enter a number '))
print(name4)
print(type(name4))

89.0
<class 'float'>

In [17]:
x = 10
y = 3
print(x//y)

3

In [18]:
a = 2
b =5
print(a**b)

32

In [20]:
print("Pytohn"+" Programming")

Pytohn Programming

In [25]:
name5 = "python "
name6 = "programming"
print(name5 + " " + name6)

python  programming